services:
  mysql:
    image: mysql:8.0
    container_name: lab-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: labdb
    ports:
      - "3306:3306"
    command: ["--default-authentication-plugin=mysql_native_password"]
